llama-index-core
llama-index-llms-langchain>=0.1.0
llama-index-embeddings-huggingface
llama-index-embeddings-langchain>=0.1.0
llama-index-vector-stores-chroma>=0.1.0
llama-index-llms-ollama
llama-index-postprocessor-sbert-rerank

langchain
langchain-core
langchain-community 
langchain-text-splitters 

sentence-transformers
chromadb
openai 
ollama

ragas
pandas
datasets
requests 
python-dotenv
unstructured
torch 
torchvision 
torchaudio --index-url https://download.pytorch.org/whl/cu121